@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.woff2') format('woff2'),
        url('CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Allison';
    src: url('FONTSPRINGDEMO-AllisonScriptRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-AllisonScriptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell';
    src: url('Rockwell.woff2') format('woff2'),
        url('Rockwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell';
    src: url('Rockwell-Bold.woff2') format('woff2'),
        url('Rockwell-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



