.secondary_nav_1 {
    background-color: #1c325a;
    position: relative;
    padding: 15px 0px;
}
.secondary_nav_1:before {content: "";width: 140%;height: 100%;position: absolute;background-color: #1c325a;z-index: -1;left: -20%;top: 0;bottom: 0;}


:root{
    /**COLO THEME**/
    --primary_color: #a97524;
    --secondary_color:rgb(0, 94, 165) ;
    --black:#000;
    --white:#fff;
    --font_color:#610008;
    /**COLO THEME**/

    /**FONTS**/
    --body_font:Century Gothic;
    --heading_font:Allison;
    /**FONTS**/

}


body {font-family:var(--body_font); }
h1,h2,h3,h4,h6{font-family: var(--heading_font);}
header {overflow: hidden; }

h1, .headmingh3{font-size: 120px; line-height: 103px; margin: 0; margin-bottom: -15px; font-weight: 600; }
h2 {font-size: 73px; font-weight: 600; margin-bottom: -20px; }
h3 {font-size: 60px; font-weight: 600; }
h4{font-size: 47px; font-family: rockwell;}
h5, .headmingh5{font-size: 30px; font-family: rockwell; }
h6{font-size: 25px;}



.white{color: var(--white); }
.primary_color{color: var(--primary_color) !important;}
.secondary_color{color: var(--secondary_color) !important;}
.theme_bg,.theme_color{color: var(--primary_color); }


ul{margin: 0px;padding: 0px;}
a,button {text-decoration: none; outline: none !important; transition: .5s;}

.toggle_btn div:nth-child(3) {width: 15px;}
.toggle_btn div:nth-child(2) {width: 20px;}
.toggle_btn div {border-bottom: 1px solid; margin: 5px 0px;}
.toggle_btn {width: 40px; height: 40px; background-color: var(--secondary_color); padding: 8px !important; display: inline-block; border-radius: 5px; float: right; display: none; }
.responsive {display: none; }

.secondary_nav_1 .nav_1_clm ul.contact_detail {margin: auto 0px 0px 0px;display: table;}
.secondary_nav_1 .nav_1_clm ul.social_icons {margin:  0px 0px 0px auto;display: table;}
.secondary_nav_1 ul li {display: inline-block; margin: 0px 10px; }

header.temp_1 ul {margin: 0px 0px 0px auto; display: table; }
header.temp_1 ul li {display: inline-block; margin: 0px 0px 0px 20px;}

header.temp_2 {text-align: center;}
header.temp_2 .menu_bar ul {display: table; margin: 0px auto;}
header.temp_2 .menu_bar ul li {display: inline-block; margin: 0px 0px 0px 20px;}

header.temp_3 .menu_bar ul {margin: auto; display: table; }
header.temp_3 .right_menu_bar ul {margin: 0px 0px 0px auto; display: table; }
header.temp_3 ul li {display: inline-block; margin: 0px 5px; }

.light h1,.light h2,.light h3,.light h4,.light h5,.light h6,.light a,.light p,.light span,.light .f_title,.light li {color: var(--white); }
.black h1,.black h2,.black h3,.black h4,.black h5,.black h6,.black a,.black p,.black span,.black .f_title {color: var(--black); }
.black {color: var(--black); }


/*******************TEXT WITH ICOM CSS*/
.txt_with_icon {display: flex; }
.txt_with_icon .img_icon {width: 200px; margin-right: 10px; }
.txt_with_icon .img_icon img {width: 100%; }
/*******************TEXT WITH ICOM CSS*/

/*******************INPUT FIELS CSS*/
p.field_lable {margin: 0; }
.field input,.field select {width: 100%;background-color: var(--white);border: 1px solid #f7b305;border-radius: 7px;padding: 10px;height: 45px;transition: .5s;}
.field input:focus, .field select:focus {outline: none; border: 1px solid var(--secondary_color); }
.field {margin-bottom: 20px; }
/*******************INPUT FIELS CSS*/

/*******************VIDEO BOX*/
.vid_box {position: relative; }
.vid_btn_wrap {
    background-color: var(--skin_color);
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 10px solid var(--skin_color); */
    transition: .5s !important;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    box-shadow: 0px 0px 20px 0px #0000003b;
}
.vid_btn_wrap i {font-size: 20px; color: var(--white); transition: .5s; }
.vid_btn_wrap:hover .vid_btn {width: 90px; height:90px; }
.vid_btn_wrap:hover i {transform: scale(1.4); }
.vid_btn {width: 70px; height: 70px; display: flex; align-items: center; justify-content: center; background-color: var(--secondary_color); border-radius: 50%; transition: .5s; }
.vid_btn_wrap:hover {transform: scale(1.1)translate(0px, -50%); }
/*******************VIDEO BOX*/


.tc{text-align: center;}
.fl{float: left;}
.fr{float: right;}
.py_8p {padding: 8% 0; }
.pt_8p {padding: 8% 0 0 0; }
.pb_8p {padding: 0 0 8% 0; }

.py_4p {padding: 4% 0; }
.pt_4p {padding: 4% 0 0 0; }
.pb_4p {padding: 0 0 4% 0; }

.py_3p {padding: 3% 0; }
.pt_3p {padding: 3% 0 0 0; }
.pb_3p {padding: 0 0 3% 0; }

.py_5p {padding: 5% 0; }
.pt_5p {padding: 5% 0 0 0; }
.pb_5p {padding: 0 0 5% 0; }

.simple_btn {font-size: 14px; font-family: 'Montserrat'; font-weight: 600; color: #000 !important; }
/* .icon_r:before {content: url(../images/btn_icon.png);position: absolute;right: 0;} */
.icon_r {position: relative; padding: 0px 20px 0px 0px;transition: .5s;}
.icon_r:hover {padding-right: 30px; }

.theme_btn {background-color: var(--secondary_color);display: inline-block;color: var(--white) !important;padding: 6px 20px !important;border-radius: 30px !important;font-weight: 400;border: none !important;transition: .5s;}
.theme_btn:hover{background-color: var(--white) !important;color: var(--black) !important;}
.theme_bg {background-color: var(--secondary_color); }

.f_title {font-size: 26px; font-weight: 700; font-family: 'SFP'; margin-bottom: 20px; }
.f_links li {list-style: none; margin: 10px 0px; }
.copyright {border-top: 1px solid; padding: 20px  0px; }
.copyright p {margin: 0;   font-family: 'Rubik', sans-serif; color: #000000;}

/* .before_img:before {content: url(../images/txt_1.png);position: absolute;left: 0;z-index: -1;}
.before_img:after {content: url(../images/txt_2.png);position: absolute;right: 0;z-index: -1;} */
.before_img{position:relative;padding: 0px 18%;/* z-index: 999999; */}

.simple_btn_icon:after {content: "\f178"; font-family: 'FontAwesome'; color: #f7b305; margin-left: 15px; text-transform: capitalize; }


.logo_wrap img {width: 260px; }
ul.f_icons li {display: inline-block; margin: 0 4px; }
ul.f_icons li a i {color: #848484; border: 2px solid #848484; border-radius: 50px; width: 30px; height: 30px; line-height: 26px; transition: .5s; }
ul.f_icons li a i:hover {color: var(--secondary_color); border-color: var(--secondary_color); }

ul.f_links li a:hover {color: var(--secondary_color); }
ul.f_links li {display: inline-block; margin: 0 10px; text-transform: capitalize; }

ul.usefull_links li {display: inline-block; margin: 0 20px; }
ul.usefull_links li a {color: #676767; }


@media(max-width: 1024px){
    .toggle_btn {display: block;}
    .dis-none-800 {display: none;}
    .mobile {display: none; }
    .mob_width {width: 50% !important; }
    header .logo {float: left; }
    .responsive ul li {display: inherit !important;}
    .responsive ul {width: 100%; left: 0; top: 40px; background-color: var(--secondary_color); padding: 20px 0px;}
    .left {padding: 15px 0px !important; }
    .resp_hidden{display: none;}
    ul.social_icons li {display: inline-block !important; margin: 0px 5px; }
    header a.card_btn {float: right; margin-right: 20px; width: 100%; text-align: right; }
    header .menu_with_card {display: flex; align-items: center;}
    .responsive ul li a {padding: 0 !important; }
    .responsive ul li {margin: 10px 0px !important; }
    .responsive {padding: 0px 35px; background-color: var(--secondary_color); }
    
}



.preloader {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-repeat: no-repeat; background-color: #FFF; background-position: center; text-align: center; display: inline-grid; align-items: center; }
.preloader .blink{opacity: 0; }
.preloader .loader {border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #3498db; width: 120px; height: 120px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; margin: auto; display: table; }
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**HEADER**/
header.temp_1 {
    padding: 30px 0px;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
}
header.temp_1 a {
    color: #fff;
}
.h-btn:hover {
    border-color: #bf9d34;
    color: #bf9d34;
}
.h-btn {
    border: 1px solid #fff;
    padding: 10px 10px;
    background-color: transparent;
    color: #fff;
}
/**HEADER**/

/***BANNER***/
.banner {
    background-image: url(../../assets/images/banner.jpg);
    padding-bottom:100px;
    background-size: cover;
}

.banner-content {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 140px;
    color: #fff;
    font-weight: 400;
    line-height: 80px;
}

.banner p {
    color: #fff;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}
.my-input {
    width: 100%;
    border: none;
    height: 50px;
    padding: 10px 10px;
    color: #a3a3a3;
    outline: none !important;
    border: none !important;
}
.icn-input-wrp {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 15px;
    margin: 0 7px;
    border-radius: 6px;
}

form.booking button {
    font-size: 14px;
    padding: 13px 20px;
    font-weight: 600;
    border-radius: 7px;
}
/***BANNER***/



section.Trending_Destinations {padding: 5% 0%; }
section.Trending_Destinations .myItems {position: relative; }
section.Trending_Destinations .myItems .slide_content {position: absolute; bottom: 15px; left: 0; right: 0; color: #fff; }



/***MA SLIDER***/
.MA_slider {
    background-color: rgb(255, 255, 255,0.8);
    box-shadow: 0px 0px 20px #00000026;
    padding: 60px 50px;
    left: 60px;
}
.redirect-btn {
    padding: 13px 40px;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(0, 94, 165);
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
}
.MA_slider .myItems {
    padding: 10px 0px;
}
/***MA SLIDER***/

/***BECOME A HOST***/
.Become_Host {
    padding: 5% 0%;
    position: relative;
}

.Become_Host:before {
    background-image: url(../../assets/images/bg1.jpg);
    content: '';
    position: absolute;
    width: 100%;
    height: 780px;
    left: 0;
    right: 0;
    z-index: -1;
    top: 50%;
    object-fit: cover;
    transform: translate(00px, -50%);
}
.Become_Host .redirect-btn {
    border: 2px solid rgb(191, 191, 191);
}
a.redirect-btn:hover {
    background-color: var(--primary_color);
    color: #fff;
}
/***BECOME A HOST***/

/***RESORT HOTELS***/
.rh_content {
    position: relative;
    background: #fff;
    z-index: 999;
    right: 0;
    left: 0;
    max-width: 80%;
    margin: 0 auto;
    margin-top: -140px;
    padding: 30px 70px;
    box-shadow: 0px 0px 79.8px 4.2px rgba(0, 0, 0, 0.23);
    z-index: 99999999;
}
section.resort_hotel .RH_slider img {
    height: 600px;
    object-fit: cover;
}
section.resort_hotel {
    overflow: hidden;
    padding: 0 0 80px 0;
}
section.resort_hotel .RH_slider .owl-stage {
    padding-top: 50px;
    padding-bottom: 85px;
}
/***RESORT HOTELS***/




section.testimonials {
    padding: 5% 0;
    background-color: #f6f6f6;
    background-image: url(../../assets/images/square.png);
    background-repeat: no-repeat;
    background-position: 80px 80px;
}





.owl-dots button.owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--primary_color);
    margin: 0 5px;
    border-radius: 50%;
    transform: scale(1);
    transition: .5s;
}
.owl-dots button.active span{
    transform: scale(1.5);
}

img.testi_img {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

ul.star_ratings li {
    list-style: none;
    display: inline-block;
}

ul.star_ratings li a {
    color: #e66a31;
}

section.testimonials .T_slide .myItems {
    background-color: #fff;
    padding: 40px;
    background-image: url(../../assets/images/coma.png);
    background-repeat: no-repeat;
    background-position: 95% 5%;
}
section.testimonials span.client_name {
    font-family: payfairdisplay;
}
section.testimonials .owl-dots {
    display: inline-block !important;
    width: 100%;
    margin-top: 50px;
}
section.bands {
    padding: 50px 0 30px 0;
}

section.posts .post_clm {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25.65px 1.35px rgb(0 0 0 / 17%);
    padding: 5px;
}

section.posts .post_content {
    padding: 40px 35px;
}
p.pst_txt {
    font-family: rockwell;
}

.btn_set li {
    display: inline;
    margin: 0 10px 0px 0;
}

ul.byAdmin li a {
    color: #000;
    font-family: rockwell;
}
section.posts {
    padding-bottom: 5%;
}







footer {
    background-image: url(../../assets/images/footer_bg.png);
    color: #fff;
    padding: 80px 10px;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
}
.f-reg {
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0px !important;
  font-weight: 400;
}

.f-small {
  font-size: 15px;
  font-weight: 800;
  font-family: 'Nexa';
}

.f-nexa {
  font-family: 'Nexa';
}

.f-georg {
  font-family: 'Georgia';
}

.f-rub {
  font-family: 'Rubik', sans-serif;
}

.copyright {
  padding: 10px;
  background-color: white;
  color: #000;
}

.icon-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.footer-info ul li {
  font-size: 18px;
  color: #fff;
  line-height: 2;
  display: block;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.footer-info ul li a {
  color: #fff !important;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.footer-heading {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  position: relative;
  color: var(--primary_color);  
  font-family: 'Rockwell';
}

.footer-heading::after {
    position: absolute;
    width: 10%;
    height: 2px;
    bottom: -12px;
    content: "";
    left: 0;
    background-color: #ffffff;
}

footer .formWrapper button {
  padding: 12px 20px;
  background-color: var(--primary_color);
  font-size: 22px;
  position: absolute;
  border: none;
  color: #fff;
}

footer .formWrapper input {
  padding: 15px 10px;
  width: 100%;
}

.footer-contact {
  font-family: 'Rubik', sans-serif;
}

.footer-contact h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Rockwell';
}

.footer-contact h6 {
  font-size: 16px;
  line-height: 0;
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
.footerCards li {
  display: inline-block;
}

.footerCards li a img {
  width: 40px;
  height: 25px;
  object-fit: cover;
  border-radius: 10px;
}
ul.clm-cut {
    column-count: 2;
}ul.foot-soci {
    display: flex;
}

ul.foot-soci li {
    margin-right: 25px;
}

ul.foot-soci li a i {
    color: var(--primary_color);
    transition: .5s;
    font-size: 20px;
}

ul.foot-soci li a i:hover {
    color: #fff;
}